.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 2vh;
	right: 2vh;
	width: 25vh;
	font-weight: 900;
	font-size: 2vh;
}
  
.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}
  
.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}
  

.form-container textarea {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	min-height: 200px;
}
  

.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}
  

.form-container .btn {
	background-color: rgba(0, 155, 150, 0.603);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}
  

.form-container .cancel {
	background-color: rgba(128, 128, 128, 0.671);
}
  

.form-container .btn:hover, .open-button:hover {
	background-color: rgb(0, 155, 150);
}